<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My Profile</title>

    <link rel="icon" href="./favicon.ico">
    <link rel="apple-touch-icon" href="./logo192.png">

    <meta name="theme-color" content="rgb(0 122 255)">
    <link rel="manifest" href="../manifest.json">

        <meta name="description" content="profile_page" />
    <meta name="keywords" content="" />
    <meta property="og:title" content="profile_page" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="profile_page" />
    
    

    <!-- Require stylesheet load from local -->
        <!-- <link href="./dist/css/bootstrap.min.css" rel="stylesheet"> -->
            <!-- <link href="./dist/css/fontawesome-all.min.css" rel="stylesheet"> -->


    <!-- Required stylesheets -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	

    <link href="css/style.css" rel="stylesheet"/>
</head>

<body>
    <!-- START: Body Content -->
  <div class="body-container">
  <nav class="sidebar-container overflow-y-auto">
    <ul class="sidebar-tech-links">
      <a href="/"><li><span><i class="fa-solid fa-house"></i></span><span>Home</span></li></a>
      <a href="/profile"><li><span><i class="fa-solid fa-user"></i></span><span>Profile</span></li></a>
      <hr>
      <span class="sidebar-header">MY TECH</span>
      <% for (let i = 0; i < fields.length; i++) {%>
        <a href="profile/<%= fields[i].techName %>"><li><span><%= fields[i].techName %></span></li></a>
      <% } %>
    </ul>
  </nav>
  <main class="main overflow-y-auto">
      <section class="ezy__header30_amwY6uCW">
    <div class="ezy__header30_amwY6uCW-topbar"
      style="background-image: url(images/profile-header-bg.jpg)">
      <div class="ezy__header30_amwY6uCW-overlay"></div>
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-12">
            <h1 class="ezy__header30_amwY6uCW-heading mb-4">Track Your Web Development Journey</h1>
            <div class="row justify-content-center">
              <div class="col-12 col-lg-5 text-center">
                <p class="ezy__header30_amwY6uCW-sub-heading">
                  Search for technologies, add them to your stack, and start tracking your spaced repetition sessions.
                </p>
                <form class="ezy__header30_amwY6uCW-search-form" id="techInputForm" action="#">
                  <div class="input-group mt-4">
                    <input class="form-control" name="techInput" id="techInput" type="text" placeholder="Add Technologies" aria-label="Search" autocomplete="off"/>
                    <button class="btn ezy__header30_amwY6uCW-btn" id="addTech" type="submit" value="addTech"><i class="fas fa-add"></i></button>
                    <ul id="suggestions" class="suggestions-container">
                    </ul>
                  </div>
                </form>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </section>

  <section class="ezy__portfolio12 gray">
    <div class="container">
      <div class="row justify-content-center">
        <h1 class="ezy__portfolio12-heading text-center">My Technology Stack</h1>

        <!-- tab bar -->
        <!-- <div class="col-12">
          <ul class="nav nav-pills justify-content-center my-4">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Most Popular</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Culinary Arts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Film & TV</a>
            </li>
          </ul>
        </div> -->

        <!-- tab contents -->
        <div class="col-12">
          <div class="row">
            <!-- card starts -->
            <% if (fields.length === 0) { %>
              <h4 class="empty">You have not added any technologies</h4>
              <% } %>
            <% for (let i = 0; i < fields.length; i++) {%>
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mt-4">
              <div class="card">
                <div class="position-relative">
                  <img
                    src="https://cdn.easyfrontend.com/pictures/courses/courses1.jpg"
                    class="card-img-top"
                    alt="..."
                  />
                  <!-- Add class="card-img-top" after src in case you need it-->
                </div> 
                <div class="card-body">
                  <div class="close">
                      
                  </div>
                  <a>
                    <p class="card-text mb-2"><%= fields[i].category %></p>
                  </a>
                  <a href="profile/<%= fields[i].techName %>" target="_blank">
                    <h5 class="card-title mb-2"><%= fields[i].techName %></h5>
                  </a>
                  <p class="card-text">Some quick example text to build on the card the bulk content...</p>
                  <div class="d-flex justify-content-between mb-2">
                    <div class="d-flex align-items-center">
                      <div class="me-2">
                        <img
                          src="https://cdn.easyfrontend.com/pictures/testimonial/testimonial_square_1.jpeg"
                          alt=""
                          class="img-fluid rounded-circle border"
                          width="40"
                        />
                      </div>
                      <div>
                        <h4 class="mb-0">Progress: <%= fields[i].progress %> </h4>
                      </div>
                    </div>
                    <a href="profile/<%= fields[i].techName %>" target="_blank" class="btn btn-outline ezy__portfolio12-card-btn" type="button">Track</a>
                    
                  </div>
                </div>
              </div>
            </div>
            <% } %>
            <!-- card ends -->
          </div>
        </div>
        <div class="col-12">
          <!-- pagination -->
          <!-- <nav aria-label="Page navigation example">
            <ul class="pagination ezy__portfolio12-pagination justify-content-center flex-wrap mt-5">
              <li class="page-item me-2 mt-2 mt-sm-0">
                <a class="page-link ezy__portfolio12-arrow" href="#" aria-label="Previous">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item mx-2 mt-2 mt-sm-0"><a class="page-link" href="#">1</a></li>
              <li class="page-item mx-2 mt-2 mt-sm-0"><a class="page-link" href="#">2</a></li>
              <li class="page-item mx-2 mt-2 mt-sm-0"><a class="page-link" href="#">3</a></li>
              <li class="page-item mx-2 mt-2 mt-sm-0"><a class="page-link" href="#">4</a></li>
              <li class="page-item mx-2 mt-2 mt-sm-0"><a class="page-link" href="#">5</a></li>
              <li class="page-item mx-2 mt-2 mt-sm-0"><a class="page-link" href="#">...</a></li>
              <li class="page-item mx-2 mt-2 mt-sm-0"><a class="page-link" href="#">11</a></li>
              <li class="page-item ms-2 mt-2 mt-sm-0">
                <a class="page-link ezy__portfolio12-arrow" href="#" aria-label="Next">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav> -->
        </div>
      </div>
    </div>
    </section>
  </main>
</div>
    <!-- END: Body Content -->

    <!-- Require scripts load from local -->
        <!-- <script src="./dist/js/popper.min.js" ></script> -->
    <!-- <script src="./dist/js/bootstrap.min.js" ></script> -->
    
    <!-- Required scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js" integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src='js/main.js'></script>

        <script>
        


    </script>
    </body>
</html>
