<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= tech %> Overview</title>

    <!-- <link rel="icon" href="./favicon.ico"> -->
    <link rel="apple-touch-icon" href="./logo192.png">

    <meta name="theme-color" content="rgb(0 122 255)">
    <link rel="manifest" href="../manifest.json">

        <meta name="description" content="profile_page" />
    <meta name="keywords" content="" />
    <meta property="og:title" content="profile_page" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="profile_page" />



    <!-- Require stylesheet load from local -->
        <!-- <link href="./dist/css/bootstrap.min.css" rel="stylesheet"> -->
            <!-- <link href="./dist/css/fontawesome-all.min.css" rel="stylesheet"> -->


    <!-- Required stylesheets -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/font-mfizz-2.4.1/font-mfizz.css">


    <link href="/css/style.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- START: Body Content -->
    <header>
      <div class="ezy__nav4">
        <nav class="navbar navbar-expand-lg  py-3">
          <div class="container">
            <a class="navbar-brand" href="#">
              LOGO
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#ezy_nav4-navbar-text"
              aria-controls="ezy_nav4-navbar-text" aria-expanded="false" aria-label="Toggle navigation">
              <span>
                <span></span>
              </span>
            </button>
            <div class="collapse navbar-collapse" id="ezy_nav4-navbar-text">
              <ul class="navbar-nav mx-auto mb-2 mb-lg-0 mt-4 mt-lg-0">
                <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="#">My Tech</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="#">How It Works</a></li> -->
              </ul>
              <ul class="navbar-nav flex-row mb-2 mb-lg-0">
                <li class="nav-item">
                  <button class="btn btn-outline-light px-3">Log Out</button>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
  <div class="body-container">
  <nav class="sidebar-container">
    <ul class="sidebar-tech-links">
      <a href="/"><li><span><i class="fa-solid fa-house"></i></span><span>Home</span></li></a>
      <a href="/profile"><li><span><i class="fa-solid fa-user"></i></span><span>Profile</span></li></a>
      <hr>
      <span class="sidebar-header">MY TECH</span>
      <% for (let i = 0; i < fields.length; i++) {%>
        <a href="/profile/<%= fields[i].techName %>"><li><span><i class="<%= fields[i].faClass %>"></i></span><span><%= fields[i].techName %></span></li></a>
      <% } %>
    </ul>
  </nav>
  <main class="main">
    <section class="ezy__cta13 dark-gray" id="ezy__cta13">
      <div class="profile-overview-container">
        <div class="container">
          <div class="row ezy__cta13-separator content-slider">
            <!-- Start: Section Heading -->
            <div class="text-center mb-4">
              <h3 class="ezy__cta13-heading mb-3"><%= tech %> Overview</h3>
              <p class="ezy__cta13-sub-heading mb-3">Create a list of high-level topics to review in Anki, then save your session history.</p>
            </div>
            <!-- End: Section Heading -->
            <!-- Register Form Goes Here  -->
            <form id="addTopicForm" action="/addTopic?tech=<%= query %>" method="POST" class="ezy__cta13-single-form">
              <div class="container-fluid">
                <div class="row profile-form">
                  <div class="col-12 col-lg-4">
                    <input name="topic" id="ezy__cta13-register-name" class="form-control" type="text" placeholder="Create new topic" autocomplete="off"
                      required />
                  </div>
                  <div class="col-12 col-lg-4">
                    <button class="btn ezy__cta13-btn mt-3 mt-lg-0" id="addTopicBtn">Add To List</button>
                  </div>
                </div>
                <!-- End: .row -->
              </div>
              <!-- End: .container-fluid -->
            </form>
            <!-- End: #register-form -->
          </div>
          <!-- End: .row -->
        </div>
        <!-- End:.container -->
        <div class="progress-container">
          <figure>
            <svg width="200" height="200" viewBox="-25 -25 250 250" version="1.1" xmlns="http://www.w3.org/2000/svg" style="transform:rotate(-90deg)">
              <circle r="90" cx="100" cy="100" fill="transparent" stroke="#e0e0e0" stroke-width="22" stroke-dasharray="565.48px" stroke-dashoffset="0"></circle>
              <circle r="90" cx="100" cy="100" stroke="#76e5b1" stroke-width="16px" stroke-linecap="round" stroke-dashoffset="107px" fill="transparent" stroke-dasharray="565.48px"></circle>
              <text x="46px" y="119px" fill="#6bdba7" font-size="59px" font-weight="bold" style="transform:rotate(90deg) translate(0px, -196px)">81%</text>
            </svg>
          </figure>
        </div>
      </div>
    </section>

    <section class="ezy__faq10 gray">
      <div class="container">
        
          <div class="col-lg-8 mb-5">
            <h2 class="ezy__faq10-heading mb-4">Tracked Topics</h2>
            <p class="ezy__faq10-sub-heading mb-0">
              Assumenda non repellendus distinctio nihil dicta sapiente, quibusdam maiores, illum at, aliquid blanditiis
              eligendi qui.Assumenda non repellendus distinctio nihil dicta sapiente, quibusdam maiores
            </p>
          </div>
       
        <div class="row justify-content-between">
          <div class="col-md-4 mb-4 mb-md-0">
            <div
              class="ezy__faq10-bg-holder h-100"
              style="background-image: url(https://cdn.easyfrontend.com/pictures/blog/blog_14_1.jpg)"
            ></div>
          </div>
          <div class="col-md-8 ps-lg-5">
            <% if (!techObj[0].topics) { %>
              <span>You have not added any topics!</span>
            <% } else { %>  
            <div class="ezy__faq10-item">
              <a
                class="btn p-3 p-lg-4 w-100 text-start d-flex justify-content-between align-items-center ezy__faq10-btn-collapse"
                data-bs-toggle="collapse"
                href="#ezy-faq10-collapse-1"
                role="button"
                aria-expanded="true"
                aria-controls="ezy-faq10-collapse-1"
              >
                <span class="main-topic"><%= techObj[0].topics[0].topic %></span>
                <span class="fas fa-chevron-down"></span>
              </a>
              <div class="collapse show" id="ezy-faq10-collapse-1">
                <div class="ezy__faq10-content p-3 p-lg-4">
                  <div class="session-tracker-container" id="session-tracker">
                    <label for="rating-select">Log today's session:</label>

                    <select name="rating" id="rating-select1">
                      <option value="">--Choose your rating--</option>
                      <option value="Hard">Hard</option>
                      <option value="Somewhat Hard">Somewhat Hard</option>
                      <option value="Average">Average</option>
                      <option value="Easy">Easy</option>
                      <option value="Very Easy">Very Easy</option>
                    </select>
                    <button class="session-submit-btn <%= tech %> <%= techObj[0].topics[0].topic %>" id="1">Submit</button>
                  </div>
                  <p class="opacity-50 mb-0">
                    You have not logged any sessions for this topic.
                  </p>
                </div>
              </div>
            </div>
            <% for (let i = 1; i < techObj[0].topics.length; i++) { %>
            <div class="ezy__faq10-item">
              <a
                class="btn p-3 p-lg-4 w-100 text-start d-flex justify-content-between align-items-center ezy__faq10-btn-collapse"
                data-bs-toggle="collapse"
                href="#ezy-faq10-collapse-<%= i + 1 %>"
                role="button"
                aria-expanded="false"
                aria-controls="ezy-faq10-collapse-<%= i + 1 %>"
              >
                <span class="main-topic"><%= techObj[0].topics[i].topic %></span>
                <span class="fas fa-chevron-down"></span>
              </a>
              <div class="collapse" id="ezy-faq10-collapse-<%= i + 1 %>">
                <div class="ezy__faq10-content p-3 p-lg-4">
                  <div class="session-tracker-container" id="session-tracker">
                    <label for="rating-select">Log today's session:</label>
                    
                    <select name="rating" id="rating-select<%= i + 1 %>">
                      <option value="">--Choose your rating--</option>
                      <option value="Hard">Hard</option>
                      <option value="Somewhat Hard">Somewhat Hard</option>
                      <option value="Average">Average</option>
                      <option value="Easy">Easy</option>
                      <option value="Very Easy">Very Easy</option>
                    </select>
                    <button class="session-submit-btn <%= tech %> <%= techObj[0].topics[i].topic %>" id="<%= i + 1 %>">Submit</button>
                  </div>
                  <p class="opacity-50 mb-0">
                    You have not logged any sessions for this topic.
                  </p>
                </div>
              </div>
            </div>
              <% } %>
            <% } %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
    <!-- END: Body Content -->

    <!-- Require scripts load from local -->
        <!-- <script src="./dist/js/popper.min.js" ></script> -->
    <!-- <script src="./dist/js/bootstrap.min.js" ></script> -->

    <!-- Required scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js" integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src='/js/main.js'></script>

        <script>
        
    </script>
    </body>
</html>